/*Police definition for all the page */
@font-face{
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?iefix') format('eot'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}


body {
    color: #000000;
    background: url("fond_jaune.png");
    display:flex;
    margin: 0px 0px 0px 0px;
    font-family: Calibri, Verdana, sans-serif;
}

#global_page{
    margin:auto;
    border-left :solid 50px #E8A880;
    border-right :solid 50px #E8A880;
    background-color: #E8A880;
    width:800px;
}

#aside_left, #aside_right{
    flex:1;
}

@media screen and (max-width: 1024px)
{
    #global_page{
    width:600px;
    }
}
/*Generic definition for elements*/

table
{
    border-collapse: collapse;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    margin: auto;
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* En-tête */
header {
    text-align: left;
    background-color: #FF0000;
    width:100%;
    height:150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 20px 0px;
    border-radius: 5px;
    overflow: hidden;
}

header img{
    width:200px;
    height:100px;
    border-radius: 5px;
    margin: 0px 20px 0px 0px;
}

header div{
    margin: 0px 20px 20px 20px;
}

#main{
    display: flex;
}

/* Menu de navigation */
nav {
    width: 175px;
    min-width: 150px;
    background: #FF0000;
    height: 500px;
    padding: 0px 10px 0px 10px;
}

nav ul li
{
    list-style:none;
    margin-left:auto;
    margin-right:auto;
    top:0px;
    height:50px;
    padding-right:10px;
    min-width:65px;
}

nav a {
    color:black;
    line-height: 2.5;
    font-size: 1em;
    text-decoration: none;
}

nav a:hover {
    border-bottom:solid black;
}

section
{
    flex: 1;
    margin: 0px 0px 0px 20px;
    text-align:center;
}

section a {
    color: #332510;
}
section a:hover, section a:focus {
    color: #6E5122;
}
section strong {
    color: #181A12;
}

section .warning {
    color: #FF0000;
}



/* Pied de page */
footer {
    background: url("food018.gif") repeat;
    height:50px;
    width:100%;
    margin-top:5px;
    margin-bottom:0px;
    padding-bottom:0px;
}

/*Page d'accueil*/
#image_accueil{
    width:100%;
    border: 1px solid black;
}

#page_accueil{
    text-align:center;
}

#liste_recette{
    margin: 0px 0px 5px 5px;
    text-align:center;
    font-size: 0.8em;
    font-style: italic;
}

#liste_recette table{
    margin: 0px 0px 5px 5px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.fieldWrapper{
    text-align: left
}

.fieldWrapper p{
    margin: 5px 0px 1px 0px;
    font-size: 0.8em;
    font-style: italic;
}

.fieldWrapper #id_recette, #id_commentaire{
    overflow: auto;
    height: 500px;
    width: 500px;
}