/* ==============================================
   FEUILLE DE STYLES DES GABARITS HTML/CSS --- 07
   © Elephorm & Alsacreations.com
   Conditions d'utilisation:
   http://creativecommons.org/licenses/by/2.0/fr/
   ============================================== */


/* --- COULEURS --- */

/* Note: vous pouvez modifier simplement l'aspect de ce gabarit en modifiant
   uniquement les couleurs de fond (propriétés background) et les couleurs
   du texte (propriété color).
   Pour modifier la disposition des blocs, voir plus bas dans la feuille de
   styles la partie «positionnement». */

/* Général */
body {
    color: #000000;
    background: #FFFFFF;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.option_menu{
	margin-left: 400px;
}

*/
/* Navigation */
#navigation {
    background: #000000;
}
#navigation a {
    color: #000000;
}
#navigation a:hover, #navigation a:focus {
    background: #00FFFF;
}

/* Contenu principal */
.contenu {
    color: #163B29;
    background: #BBBBBB; /* -> 2 */
}
.contenu a {
    color: #332510;
}
.contenu a:hover, #contenu a:focus {
    color: #6E5122;
}
.contenu strong {
    color: #181A12;
}

.contenu .warning {
    color: #FF0000;
}




/* --- POSITIONNEMENT --- */

/* Page */
body {
    padding: 10px 5px;
    margin: 50px;
    background: #FFFFFF;
}

/* En-tête */
#entete {
    padding: 20px 20px 20px 0;
    width: 550px; /* -> 3 */
    margin: auto;
}

/* Bloc central contenant #navigation et #contenu */
#centre {
    overflow: hidden; /* -> 5 */
    background: #E4F0EE;
    width: 1100px;
    margin: auto;
}

/* Menu de navigation */
#navigation {
    width: 180px;
    float: left; /* -> 6 */
    background: #E4F0EE;
}
#navigation ul {
    margin: 0;
    padding: 20px 10px 20px 10px;
    list-style: none;
}
#navigation a {
    display: block;
    height: 1%; /* -> 7 */
    padding: 6px 10px 6px 10px;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
}

/* Contenu */
.contenu {
    margin-left: 10px; /* -> 8 */
    margin-right: 10px; /* -> 8 */
    padding: 10px 20px;
    background: #E4F0EE;
}

.contenu > :first-child {
    margin-top: 10px;
}
.contenu p, .contenu li {
    line-height: 1.5;
}


.contenu #centrer{
    width: 150px;
    margin: auto;
}

.contenu #centrertableau{
    width: 850px;
    margin: auto;
}

table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    margin: auto;
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

/* Pied de page */
#pied {
    margin: 0;
    padding: 15px 20px 10px 0;
    font-size: .85em;
}

/* Mention de copyright */
#copyright {
    margin: 8px 0 0 0;
    font-size: 1em;
    text-align: left;
}

