{% extends "base.html" %}
{% load static %}

{% block contenu %}
     <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                   <div class="carousel-item active">
                      <img src="{% static 'img/viande.jpg' %}" class="d-block w-100" alt="Viande">
                   </div>
                   <div class="carousel-item">
                      <img src="{% static 'img/poisson.jpg' %}" class="d-block w-100" alt="Poisson">
                   </div>
                   <div class="carousel-item">
                    <img src="{% static 'img/legumes.jpg' %}" class="d-block w-100" alt="Legumes">
                 </div>
                </div>
             </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only text-primary">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only text-primary">Suivant</span>
        </a>
     </div>
{% endblock %}

