{% extends "base.html" %}
{% block contenu %}
        
        <h2 class="text-center mb-4">{{ recette.nom }}</h2>
        <p class="text-center mb-4 fs-4">Catégorie : <span class="fs-5">
        {% for categorie in categories %}
            {{ categorie.nom }}{% if not forloop.last %}, {% endif %}
        {% endfor %}</span>
        </p>
        <p class="text-center mb-4 fs-4">Saison : <span class="fs-5">
			{% for saison in saisons %}
            {{ saison.nom }}{% if not forloop.last %}, {% endif %}
            {% endfor %}</span>
        </p>
        <div>
            <h3 class="mb-4">Recette</h3>
            <p>{{recette.recette|linebreaks }}</p>
            <h3 class="mb-4">Commentaires</h3>
            <p>{{ recette.commentaire|linebreaks }}</p>
            {% if recette.lien %}
            <a href={{ recette.lien }}>Recette en ligne</a>
            {%endif%}
        </div>

        <h3 class="mb-4">Ingrédients</h3>
        <p>
        {% for ingredient in ingredients %}
            {{ ingredient.nom}} </p>
        {% endfor %}
        </p>
        <a class="btn btn-primary" href="{% url "editer_recette" id %} role="button">Editer la recette</a>
{% endblock %}
