{% extends "base.html" %}
{% block title %}Mon menu de la semaine{% endblock %}
{% block contenu %}
{%if formset%}
	<h2>Semaine {{repas_semaine.numero_semaine}}</h2>
	<form method="post">
		{% csrf_token %}
		{{formset.management_form }}
		{% for form in formset%}
			{{ form.id }}
			<h3>{{ form.instance.nom }} :</h3>

			{%if form.instance.actif %}
				{% if form.instance.libre_choix %}
					{{ form.recette }}
				{% else %}
					<h4>
					{%if form.instance.recette %}
						{{ form.instance.recette.nom }}
					{%else%}
						Pas de suggestion trouvée
					{%endif%}
					</h4>
					Saison : {{ form.saison }}
					Categorie : {{ form.categorie }}
					{{ form.recette.as_hidden }}
					<br/>
					<button formaction="{% url "menu_modifier" form.instance.id %}">Proposer autre chose</button>
				{% endif %}
			{%else%}
				Inactif, pas de repas a prevoir
				{{ form.saison.as_hidden }}
				{{ form.categorie.as_hidden  }}
				{{ form.recette.as_hidden }}
			{%endif%}
		{% endfor %}
		<button formaction="{% url "generer_menu" %}">Valider</button>
	</form>
{%else%}
    <h2>Menu final de la semaine {{repas_semaine.numero_semaine}}</h2>
    <a href="{% url "reediter_menu_semaine" %}" class="button">Modifier la semaine</a>
    {% for repas in repas_semaine.repas_set.all %}
    <div class="article">
		{%if repas.actif %}
        	<h3>{{ repas.nom }} </h3>
			{%if repas.recette%}
				<a href="{% url "voir_detail" repas.recette.id %}">{{repas.recette.nom|default_if_none:"Pas de suggestion trouvée"}}</a>
			{%else%}
				Pas de suggestion trouvee
			{%endif%}
        {%endif%}
    </div>
    {% empty %}
        <p>Aucun repas defini.</p>
    {% endfor %}
	<h3>La liste des ingredients necessaires est : </h3>
	{% for ingredient in ingredients %}
		{{ingredient}} ;
	{% endfor %}
{%endif%}
{% endblock %}