{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block contenu %}

    <div class="container">
        {% for recette in recettes %}
        <p>
        <a href="{% url "voir_detail" recette.id %}">{{ recette.nom }}</a>
        </p>
        {% endfor %}
    </div>
        <form action="{% url "liste_recette" %}" method="post">
        {% csrf_token %}
         <div class="row">
            <div class="col">
                {{selection_form|crispy}}
             </div>             
         </div>
        <div class="row">
            <div class="col">
                <button type="submit" value="Submit" class="btn btn-primary d-flex justify-content-center">Rechercher</button>
            </div>
        </div>  
        </form>


{% endblock %}

