{% extends "base.html" %}
{% block title %}Detail de la recette {{ recette.nom }}{% endblock %}
{% block contenu %}
    <div class="article">
    <h2>{{ recette.nom }}
    (categorie : {{ recette.categorie.nom }} / saison : {{recette.saison.nom}})</h2>
    <p>Recette entree le {{ recette.date|date:"DATE_FORMAT" }}</p>
    <h3>Recette</h3>
    <p>{{ recette.recette|linebreaks }}</p>
    <h3>Commentaires</h3>
    <p>{{ recette.commentaire|linebreaks }}</p>
    {% if recette.lien %}
    <a href={{ recette.lien }}>Recette en ligne</a>
    {% endif %}
    </div>
{% endblock %}
