{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
   <title>Mon generateur de menus</title>
</head>

<body>
<aside id="aside_left">
</aside>
<div id="global_page">
	<header>
	{% block entete %}
		<div>
			<h1>Mon menu de la semaine</h1>
			<p>(Enfin un vendredi soir devant la télé)</p>
		</div>
		<img src="{% static 'img/accueil.jpg' %}"/>
	{% endblock %}
	</header>

	<div id="main">
		<nav>
			<ul>
				<li><a href="{% url "accueil" %}">Accueil</a></li>
				<li><a href="{% url "generer_semaine"%}">Nouveau menu</a></li>
				<li><a href="{% url "liste_semaines_precedentes"%}">Semaines</a></li>
				<li><a href="{% url "liste_recette"%}">Liste des recettes</a></li>
				<li><a href="{% url "recette_aleatoire"%}">Recette au hasard</a></li>
				<li><a href="{% url "entrer_recette"%}">Nouvelle recette</a></li>
			</ul>
		</nav>

		<section>
			{% block contenu %}
			{% endblock %}
		</section>
	</div> <!--#main -->

	<footer>
	</footer>
</div>
<aside id="aside_right">
</aside>
</body>
</html>
